{% extends 'base.html' %} {% block content %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock %}
    
   
    <main>
        <div class="shopping">
            <span class="shp">
                <a href="{% url 'phone' %}" style="text-decoration: none; padding: 10px; border: 2px solid black;"> <<<< continue shopping</a>

            </span> <hr>

            <span class="shop">
                <p style="margin-right: 300px;">Items: {{ order.get_cart_items }}</p>
                <p style="margin-right: 650px;">Total: {{ order.get_cart_total }} Ksh</p>
                <a href="{% url 'checkout' %}" style="text-decoration: none; background-color: rgb(149, 220, 34); padding: 10px; border-radius: 10px;">checkout</a>
            </span> 

        </div>

        <div class="item">
            <span class="items">
                    <p style="margin-left: 300px; margin-right: 200px;">name</p>
                    <p style="margin-right: 200px;">price</p> 
                    <p style="margin-right: 200px;">quantity</p>
                    <p></p>
            </span><hr>
            <div id="product">
                {% for item in items %}
                    <div class="item2" style="padding: 15px;">
                        <div style="margin-left: 25px; margin-right: 2px;"><img src="{{ item.product.image.url }}"></div>
                        <div style="margin-right: 150px;">{{item.product.name}}</div>
                        <div style="margin-right: 180px;">{{item.product.price|floatformat:2}}</div>
                        <div style="margin-right: 200px; display: flex; align-items: center; gap: 10px;">
    <form action="{% url 'decrease_quantity' item.id %}" method="POST">
        {% csrf_token %}
        <button type="submit">−</button>
    </form>

    <strong>{{ item.quantity }}</strong>

    <form action="{% url 'increase_quantity' item.id %}" method="POST">
        {% csrf_token %}
        <button type="submit">+</button>
    </form>
</div>
                        <form action="{% url 'remove_from_cart' item.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit">Remove</button>
                        </form>

                    </div> <hr>
                {% endfor %}
            </div>

            <span style="padding: 5px;"></span>
        </div>
    </main>
    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>



{% endblock content %}