{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/description.css' %}">
    <title>Description</title>
</head>
<body>
    <header class="main">
        <nav class="navbar">
            <div style="color: green;">
                <p>Thank you for opting for our services</p> <br>
                <a href="{% url 'home' %}" style="text-decoration: none;"><h2 style="font-size: 25px;"> VOLT <span style="color: blue;"> VIBE</span> </h2></a>

            </div>
            
        </nav>
        <nav class="navbar2">
            <span class="icon"></span>
            <div class="nav">
                <div class="logo"></div>
                <ul class="menu2">
                    <li style="list-style: none;"><a href="{% url 'login' %}">login</a></li>
                </ul>
            
                <div class="logo2"></div>
                <ul class="menu2">
                    <li style="list-style: none;"><a href="{% url 'cart' %}">cart</a></li>
                </ul>

                <div class="logo2"></div>
                <ul class="menu2">
                    <li style="list-style: none;"><a href="{% url 'home' %}">home</a></li>
                </ul>

            </div>
        </nav>
    </header>

    <main class="main2" style="display: flex;">
            {% if product.image %}

            <img class="thumbnail" src="{{ product.image.url }}" alt="{{ product.name }}" style="position: relative; width: 30%; ">
            {% else %}
            <!--<img class="thumbnail" src="{% static 'images/default_image.png' %}" alt="Default image">-->
            {% endif %}

        
        <div class="samsung" style=" position: relative; left: 10%; width: 60%;">
            <h3 style="font-size: 40px; margin-bottom: 10px;"> {{ product.name }} </h3> 
            
            <p style="font-size: small;">{{ product.description }}</p>

            <form action="{% url 'add_to_cart' product.id %}" method="POST">
                {% csrf_token %}
                <button style="background-color: rgb(65, 194, 65); width: 100%; height: 50px; border-radius: 20px; margin-top: 200px; cursor: pointer;" type="submit">add to cart</button>
            </form>
        </div>
        
    </main> <hr>

    <main class="main3">
        <div>
            <h3 style="margin-bottom: 20px;">product Description</h3>
            <span class="description">
                <p>{{ product.detailed_description }}</p>

            </span>
        </div>
    </main>

</body>
</html>
