{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/laptop.css' %}">
{% endblock %}

{% block content %}

<!-- Hero image -->
<div class="container my-5">
    <img src="{% static 'images/v39_156.png' %}"
         class="img-fluid rounded mx-auto d-block"
         alt="phone banner">
</div>

<!-- Products section -->
<div class="container">
    <h3 class="mb-4">Something you may like</h3>

    <form method="get" class="search" data-category="{{ category }}">
        <input type="text" name="q" placeholder="Search products..." value="{{ query|default:'' }}" class="form-control">
        <button id="search-button" type="submit" class="cn">Search</button>  
    </form>
    
    <div id="product-container">
    {% include 'voltvibe/partials/product_list.html' with products=products_page %}
</div>


    
</div>

<script src="{% static 'js/home.js' %}"></script>

{% endblock content %}
