{% extends 'base.html' %} {% block content %}
    <div class="container mt-5">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h4>User Profile</h4>
    </div>
    <div class="card-body">
      <p><strong>Username:</strong> {{ user.username }}</p>
      <p><strong>First Name:</strong> {{ user.first_name }}</p>
      <p><strong>Last Name:</strong> {{ user.last_name }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>profile:</strong> {{ user.profile }}</p>
      <!--<p><strong>Is Staff:</strong> {{ user.is_staff }}</p>
      <p><strong>Is Superuser:</strong> {{ user.is_superuser }}</p>-->
      <p><strong>Is Active:</strong> {{ user.is_active }}</p>
      <p><strong>Gender:</strong> {{ profile.gender }}</p>
      <p><strong>Date Joined:</strong> {{ user.date_joined }}</p>
      <p><strong>Last Login:</strong> {{ user.last_login }}</p>
    </div>
  </div>
</div>
{% endblock content %}