main {
    padding: 20px;
}

.shopping {
    border: 1px solid rgb(223, 218, 218);
    padding: 10px;
    margin-bottom: 30px;
}

.shp {
    display: flex;
    margin-bottom: 20px;
}

.shop {
    display: flex;
    padding: 20px;
}

.item {
    border: 1px solid rgb(223, 215, 215);
    box-shadow: 10px 2px 4px rgb(201, 201, 208);
}

.items {
    display: flex;
    padding: 10px;
    margin-bottom: 5px;
}

.item2 {
    display: flex;
}

.contentz {
    background-color: rgb(243 243 243);
    height: 80vh;
    /* fixed height */
    overflow-y: auto;
    /* vertical scroll when needed */
    overflow-x: hidden;
    /* optional */
    border: 1px solid #ccc;
    padding: 15px;
}