/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main2 {
    margin-top: 20px;
    display: flex;
    padding: 50px;
}

/*.samsung{
    margin-left: 250px;
}*/

.main3 {
    background-color: gray;
}

.description p {
    margin-bottom: 20px;
    margin-left: 20px;
}