.card img {
    object-fit: cover;
}

p {
    line-height: 1.6;
}

.product-description p {
    margin-bottom: 1.2rem;
    line-height: 1.8;
    color: #444;
}

.product-description strong {
    font-weight: 600;
}

.product-description ul {
    padding-left: 1.2rem;
}

.product-container {
    background-color: #ebe9e6;
    padding-bottom: 30px;
    border-radius: 20px;
}